# Ultralytics:
# Loads the exported YOLO model through the Ultralytics Python API
# and runs prediction from pi_live_ncnn.py
ultralytics

# OpenCV:
# Handles camera input, drawing bounding boxes/text, and showing the live window
opencv-python

# NCNN:
# Runs the exported best_ncnn_model on Raspberry Pi efficiently
ncnn